<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link type="text/css" rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DOAÇÃO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Notícias</a>
        </li>
      </ul>
      <!--span class="navbar-text"-->
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="#">Cadastrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Entrar</a>
        </li>
      </ul>
      <!--/span-->
    </div>
  </div>
</nav>
<main class="container">
    <div class="text-center">
        <h2>{{ Titulo }}</h2>
        <h4>{{ Sub_titulo }}</h4>
    </div>
</main>
</body>
<script type="text/javascript" src="{% static 'app/js/bootstrap.min.js' %}"></script>
</html>